h1 {
    color: #495e6b;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

h2 {
    color: #577898;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.search {
    background-color: #d3e0e7;
    width: 100%;
    border: 0;
}

.fav {
    padding: 2rem;
}

.btn {
    background-color: #259ebb !important;
    border: transparent !important;
    width: 95%;
}

.p-col-0.5 {
    padding: "0.5rem !important"
}

.round-container {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
}

.round-container img {
    width: initial;
    height: fit-content;
    max-width: none;
    position: absolute;
    transform: translate(-50%, -20%);
    margin: 0 !important;
    float: left !important;
}

.card {
    width: 12rem;
    float: left;
    margin: 1rem;
    border-radius: 20px;
    background-color: #fff;
    padding: 1%;
    text-align: center;
}

.card1 {
    width: 12rem;
    float: left;
    margin: 1rem;
    border-radius: 20px;
    background-color: #fff;
    padding: 1%;
    text-align: center;
}

:host ::ng-deep .p-dataview .p-dataview-content {
    background: transparent;
    color: #435f69;
    border: 0 none;
    padding: 0;
}

.line {
    background-color: #ffffff;
    border-radius: 8px;
    padding: .75%;
    align-items: center;
    margin-bottom: 1%;
}

.line1 {
    background-color: #fff;
    border-radius: 8px;
    padding: .75%;
    align-items: center;
    margin-bottom: 1%;
}

:host ::ng-deep .grid {
    align-items: center;
}

:host ::ng-deep .p-dataview .p-dataview-header {
    background-color: transparent;
    border: 0px solid #e9ecef;
}

:host ::ng-deep .p-dataview .p-dataview-footer {
    background-color: transparent;
    border: 0px solid #e9ecef;
}

:host ::ng-deep .p-dataview.p-dataview-list .p-dataview-content>.p-grid>div {
    border: 0px solid #e9ecef;
}

:host ::ng-deep .p-selectbutton .p-button {
    background: transparent;
    border: 0px solid #ced4da;
    color: #495057;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

:host ::ng-deep .p-button:focus {
    box-shadow: 0 0 0 0.0rem transparent;
}

:host ::ng-deep .p-selectbutton .p-button.p-highlight:hover {
    background: transparent;
    border-color: transparent;
    color: #2d3236;
}

.fab {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.fab button {
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 30px;
    background-color: #259ebb;
    border: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .4);
    font-size: 24px;
    color: white;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
}

.fab button.main {
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 30px;
    background-color: #259ebb;
    right: 0;
    bottom: 0;
    z-index: 20;
}

.fab ul {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    padding-right: 5px;
    margin: 0;
    list-style: none;
    z-index: 10;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
}

.fab ul li {
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-bottom: -10%;
    opacity: 0;
    -webkit-transition: .3s ease-out;
    -moz-transition: .3s ease-out;
    transition: .3s ease-out;
}

.fab ul li label {
    margin-right: 10px;
    white-space: nowrap;
    display: block;
    margin-top: 10px;
    padding: 5px 8px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    border-radius: 3px;
    height: 18px;
    font-size: 16px;
    pointer-events: none;
    opacity: 0;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
}

.fab button.main:active, .fab button.main:focus {
    outline: none;
    background-color: #259ebb;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .5);
}

.fab button.main:active+ul, .fab button.main:focus+ul {
    bottom: 70px;
}

.fab button.main:active+ul li, .fab button.main:focus+ul li {
    margin-bottom: 10px;
    opacity: 1;
}

.fab button.main:active+ul li:hover label, .fab button.main:focus+ul li:hover label {
    opacity: 1;
}

.break-line {
    white-space: pre-wrap;
}