<body style="padding-left:2%; padding-right:2%">
    <!-- <div class="p-grid">
        <div class="p-col-5">
           <h1>My Doctors</h1>
        </div>
        <div class="p-col">
            <span class="p-float-label">
                <input class="search" id="float-input" type="text" pInputText> 
                <label for="float-input">Search</label>
            </span>
        </div>
        <div class="p-col-2">
            <button pButton pRipple type="button" label="Order by name" class="p-button-raised btn"></button>
        </div>
        <div class="p-col-2">
            <button pButton pRipple type="button" label="Order by creation" class="p-button-raised btn" (click)='onList($event)'></button>
        </div>
        <div class="p-col-0.5"style="padding: 0.5rem">
            <img src="../../assets/organize-blocks.png" (onClick)="'listItem'">
        </div>
        <div class="p-col-0.5" style="padding: 0.5rem" >
            
        </div>
        
    </div> -->
    <!-- <div class="p-grid">
        <div class="p-col">
            <h2>Favorities</h2>
        </div>
    </div>
    <div class="p-grid ">
        <div class="p-col" style="text-align: -webkit-center;">
            <p-card #dt1  class="card" *ngFor="let medicos of medicos" >
                <ng-template pTemplate="header">
                    <img style="max-width: 20%; padding: 5px; float: left !important;" src="../../assets/star.png" alt="">
                </ng-template>
                <p></p>
                <div class="round-container">
                    <img src={{medicos.image}}>
                    </div>
                <div style="color: #435f69; font-weight: bolder;">{{medicos.name}}</div>
                <div style="font-size: small;">clinics</div>
                
            </p-card>
        </div>
        <div class="p-col-12" style="border-bottom: 2px solid #d3e0e7;"></div>
    </div>
</div> -->


    <!-- ###################################### -->


    <p-dataView #dv [value]="medicos" filterBy="name" [sortField]="sortField" [sortOrder]="sortOrder">
        <ng-template pTemplate="header">
            <div class="p-grid">
                <div class="p-col-5">
                    <h1>My Doctors</h1>
                </div>
                <!-- <div class="p-col">
                    <p-dropdown [ngStyle]="{'width': '100%'}" [options]="sortOptions" [(ngModel)]="sortKey"
                        placeholder="Choose the sorting" (onChange)="onSortChange($event)"></p-dropdown>
                </div> -->
                <div class="p-col">
                    <span class="p-float-label">
                        <input class="search" pInputText id="float-input" type="search"
                            (input)="dv.filter($event.target.value)">

                        <label for="float-input">Search</label>
                    </span>
                </div>
                <div class="p-col-2">
                    <button pButton pRipple (click)="onSortChange('name')" type="button" label="Order by name"
                        class="p-button-raised btn"></button>
                </div>
                <div class="p-col-2">
                    <button pButton (click)="onSortChange('created')" pRipple type="button" label="Order by creation"
                        class="p-button-raised btn"></button>
                </div>
                <div class="p-col-0.5" style="padding: 0.5rem">
                    <p-dataViewLayoutOptions>
                    </p-dataViewLayoutOptions>
                </div>
                <div class="p-col-12">
                    <h2>Favorities</h2>
                </div>
            </div>

        </ng-template>
        <ng-template let-medicos pTemplate="listItem">
            <ng-template [ngIf]="medicos.starred" [ngIfElse]="naoFavorito"
                style="padding-bottom: 10em; border-bottom: 2px solid black;">
                <div *ngIf="!medicos.starred" (click)="medicos.starred = true; onSortChange('starred')" class=""
                    style="background-color: transparent !important; width: 5%; float: left;">
                    <img src="../../assets/favorite.png">
                </div>
                <div *ngIf="medicos.starred" (click)="medicos.starred = false; onSortChange('starred')" class=""
                    style="background-color: transparent !important; width: 5%; float: left;">
                    <img src="../../assets/star.png">
                </div>
                <div class="p-col-11" style="float: right; width: 95%; margin-bottom: 1px solid green !important;">
                    <div class="p-grid line1">
                        <div class="round-container p-col-2" style="float: left;">
                            <img src="{{medicos.image}}">
                        </div>
                        <div routerLink="/profile/{{medicos.id}}" style="cursor: pointer;" class="med_name p-col-8">
                            {{medicos.name}}
                        </div>
                        <div class="p-col"></div>
                        <div class="med_name p-col-2" style="text-align: right;">
                            Created at {{medicos.created | date : 'dd/MM/yyyy'}}
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template style="width: 10px;"></ng-template>
            <ng-template #naoFavorito>
                <div *ngIf="!medicos.starred" (click)="medicos.starred = true; onSortChange('starred')" class=""
                    style="background-color: transparent !important; width: 5%; float: left;">
                    <img src="../../assets/favorite.png">
                </div>
                <div *ngIf="medicos.starred" (click)="medicos.starred = false; onSortChange('starred')" class=""
                    style="background-color: transparent !important; width: 5%; float: left;">
                    <img src="../../assets/star.png">
                </div>
                <div class="p-col-11" style="float: right; width: 95%;">
                    <div class="p-grid line">
                        <div class="round-container p-col-2" style="float: left;">
                            <img src="{{medicos.image}}">
                        </div>
                        <div routerLink="/profile/{{medicos.id}}" style="cursor: pointer;" class="med_name p-col-8">
                            {{medicos.name}}
                        </div>
                        <div class="p-col"></div>
                        <div class="med_name p-col-2" style="text-align: right;">
                            Created at {{medicos.created | date : 'dd/MM/yyyy'}}
                        </div>
                    </div>
                </div>
            </ng-template>


        </ng-template>

        <ng-template let-medicos pTemplate="gridItem">
            <ng-template [ngIf]="medicos.starred" [ngIfElse]="naoFavorito">
                <div class="p-col-12 p-md-2 card">
                    <div *ngIf="!medicos.starred" (click)="medicos.starred = true; onSortChange('starred')"
                        style="width: 100%; text-align: left;">
                        <img src="../../assets/favorite.png" alt="">
                    </div>
                    <div *ngIf="medicos.starred" (click)="medicos.starred = false; onSortChange('starred')"
                        style="width: 100%; text-align: left;">
                        <img src="../../assets/star.png" alt="">
                    </div>
                    <div class="round-container" style="margin: 0 auto;">
                        <img src="{{medicos.image}}">
                    </div>
                    <div routerLink="/profile/{{medicos.id}}" class="med_name"
                        style="width: 100%; padding-top: 1em; padding-bottom: 1em; cursor: pointer;">
                        {{medicos.name}}
                    </div>
                    <div class="med_name " style="text-align: right; width: 100%;">
                        Created at {{medicos.created | date : 'dd/MM/yyyy'}}
                    </div>
                </div>
            </ng-template>

            <ng-template #naoFavorito>
                <div class="p-col-12 p-md-2 card">
                    <div *ngIf="!medicos.starred" (click)="medicos.starred = true; onSortChange('starred')"
                        style="width: 100%; text-align: left;">
                        <img src="../../assets/favorite.png" alt="">
                    </div>
                    <div *ngIf="medicos.starred" (click)="medicos.starred = false; onSortChange('starred')"
                        style="width: 100%; text-align: left;">
                        <img src="../../assets/star.png" alt="">
                    </div>
                    <div class="round-container" style="margin: 0 auto;">
                        <img src="{{medicos.image}}">
                    </div>
                    <div routerLink="/profile/{{medicos.id}}" class="med_name"
                        style="width: 100%; padding-top: 1em; padding-bottom: 1em; cursor: pointer;">
                        {{medicos.name}}
                    </div>
                    <div class="med_name " style="text-align: right; width: 100%;">
                        Created at {{medicos.created | date : 'dd/MM/yyyy'}}
                    </div>
                </div>
            </ng-template>

        </ng-template>

    </p-dataView>
    <div class="fab" ontouchstart="">
        <button class="main"> <img style="margin-top: 6px;" src="../../assets/add.png" alt=""> </button>
    </div>
</body>