<header style="text-align: center; border-bottom: 1px solid #c2c5ca; background-color: #ffffff;">
  <img routerLink="/" pbutton style="max-width: 15%;cursor:pointer;" src="../assets/logo.png" alt="W3.Care logo">
</header>
<router-outlet></router-outlet>
<footer
  style="text-align: center; border-top: 1px solid #baccd6; background-color: transparent; bottom:0; width: 100%;">
  <div class="p-grid">

    <div class="p-col-7" style="text-align: right;">
      <h2> © 2021, W3.Care Todos os direitos reservados |</h2>
    </div>
    <div class="p-col-5" style="text-align: left;">
      <h3 href="url"> Termos de Uso</h3>
    </div>

  </div>
</footer>