h2{
    color: #577898;
    font-size: .75rem;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    width: 49%;
    float: right;
}
h3{
    color: #577898;
    font-size: .75rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 49%;
    float: left;
}