.btn {
    background-color: #259ebb !important;
    border: transparent !important;
    width: 50%;
    font-size: small;
}

h2 {
    color: #495e6b;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin: 0 auto;
}

h3 {
    color: #577898;
    font-size: .75rem;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

h4 {
    color: #495e6b;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin: 0 auto;
}

h5 {
    color: #435f69;
    font-size: .80rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    font-weight: 400;
}

h6 {
    color: #435f69;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    font-weight: bold;
}

.card {
    background-color: #ffffff;
    height: 12em;
    border-radius: 10px;
    margin-right: 1%;
    margin-bottom: 1%;
    border: 2px solid #eef1f5;
}

.round {
    background-color: #e0eaed;
    border-radius: 50%;
    text-align: center;
    height: 52px;
    width: 52px;
}

.round1 {
    background-color: #259ebb;
    border-radius: 50%;
    text-align: center;
    height: 52px;
    width: 52px;
    float: left;
    margin-right: 2%;
}

.round2 {
    background-color: #3b9c6f;
    border-radius: 50%;
    text-align: center;
    height: 52px;
    width: 52px;
    float: left;
    margin-right: 2%;
}

.round3 {
    background-color: #4e74b3;
    border-radius: 50%;
    text-align: center;
    height: 52px;
    width: 52px;
    float: left;
    margin-right: 2%;
}