<body style="padding: 2%;">
  <div *ngIf="medico" class="p-grid" style="border-bottom: 1px solid #baccd6;">
    <div class="round">
      <img src="../../assets/chat.png" style="margin: 11px;">
    </div>
    <div class="p-col">
      <h4>{{medico.name}}</h4>
      <h3>id: {{medico.name}}</h3>
    </div>
    <div class="p-col-2">
      <h5 style="float: right;">
        Created at {{medico.created | date:'dd/mm/yyyy'}}
      </h5>
    </div>
  </div>
  <br>

  <div class="p-grid" *ngIf="medico">
    <div class="p-col-9">
      <div class="p-grid">
        <div class="p-col-4 card" style="padding: 3%;">
          <h5>
            Region and idiom
          </h5>
          <h5>
            {{medico.culture}}
          </h5>
          <br>
          <h5>
            Timezone
          </h5>
          <h5>
            ({{medico.created | date:'z'}} ) Brasília
          </h5>
        </div>
        <div class="p-col-7 card" style="padding-top: 4em; padding-left: 1em;">
          <div class="round1">
            <img src="../../assets/user.png" style="margin: 0 auto; padding: 9px; padding-left: 14px;">
          </div>
          <div>
            <h6>
              {{medico.analytics.patient.total}}
            </h6>
            <h5>
              Patients
            </h5>
          </div>

        </div>
        <div class="p-col-6 card" style="padding-top: 4em; padding-left: 1em;">
          <div class="round2">
            <img src="../../assets/union.png" style="margin: 0 auto; padding: 9px; padding-left: 14px;">
          </div>
          <div>
            <h6>
              {{medico.analytics.attendance.finished}}
            </h6>
            <h5>
              Attendances finished
            </h5>
          </div>
        </div>
        <div class="p-col-5 card" style="padding-top: 4em; padding-left: 1em;">
          <div class="round2">
            <img src="../../assets/sent.png" style="margin: 0 auto; padding: 9px; padding-left: 14px;">
          </div>
          <div>
            <h6>
              {{medico.analytics.attendance.scheduled}}
            </h6>
            <h5>
              Scheduled attendances
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="p-col-3" style="text-align: center;">
      <img src="../../assets/plano.png" alt="">
      <br>
      <div>
        <h3 style="color: #8ba0b4;">
          Status Account
        </h3>
        <h2>
          {{medico.plan}}
        </h2>
      </div>
      <br>
      <div>
        <button pButton type="button" class="btn" label="Update account"></button>
      </div>
    </div>
  </div>
</body>